In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file = "winemag-data.csv"
wine_review_df = pd.read_csv(csv_file)
wine_review_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [4]:
wine_review_df.rename(columns={'Unnamed: 0':'id'}, inplace=True)
wine_review_df.head()

,id,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
csv_file = "winemag-datav2.csv"
wine_review_v2_df = pd.read_csv(csv_file)
wine_review_v2_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [6]:
wine_review_v2_df.rename(columns={'Unnamed: 0':'id'}, inplace=True)
wine_review_v2_df.head()

,id,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [7]:
wine_review = wine_review_df[['id', 'country', 'points', 'price', 'province', 'region_1', 'region_2', 'variety', 'winery']].copy()
wine_review.head()

,id,country,points,price,province,region_1,region_2,variety,winery
0,0,US,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [8]:
wine_review_v2 = wine_review_v2_df[['id', 'country', 'points', 'price', 'province', 'region_1', 'region_2', 'title', 'variety', 'winery']].copy()
wine_review_v2.head()

,id,country,points,price,province,region_1,region_2,title,variety,winery
0,0,Italy,87,NaN,Sicily & Sardinia,Etna,NaN,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,87,15.0,Douro,NaN,NaN,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,87,13.0,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [9]:
wcf_connection_string = "postgres:postgres@localhost:5432/Wine_DB"
engine = create_engine(f'postgresql://{wcf_connection_string}')

In [10]:
engine.table_names()

['wine_reviews', 'wine_reviews_v2']

In [11]:
wine_review.to_sql(name='wine_reviews', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "wine_reviews_pkey"
DETAIL:  Key (id)=(0) already exists.

[SQL: INSERT INTO wine_reviews (id, country, points, price, province, region_1, region_2, variety, winery) VALUES (%(id)s, %(country)s, %(points)s, %(price)s, %(province)s, %(region_1)s, %(region_2)s, %(variety)s, %(winery)s)]
[parameters: ({'id': 0, 'country': 'US', 'points': 96, 'price': 235.0, 'province': 'California', 'region_1': 'Napa Valley', 'region_2': 'Napa', 'variety': 'Cabernet Sauvignon', 'winery': 'Heitz'}, {'id': 1, 'country': 'Spain', 'points': 96, 'price': 110.0, 'province': 'Northern Spain', 'region_1': 'Toro', 'region_2': None, 'variety': 'Tinta de Toro', 'winery': 'Bodega Carmen Rodríguez'}, {'id': 2, 'country': 'US', 'points': 96, 'price': 90.0, 'province': 'California', 'region_1': 'Knights Valley', 'region_2': 'Sonoma', 'variety': 'Sauvignon Blanc', 'winery': 'Macauley'}, {'id': 3, 'country': 'US', 'points': 96, 'price': 65.0, 'province': 'Oregon', 'region_1': 'Willamette Valley', 'region_2': 'Willamette Valley', 'variety': 'Pinot Noir', 'winery': 'Ponzi'}, {'id': 4, 'country': 'France', 'points': 95, 'price': 66.0, 'province': 'Provence', 'region_1': 'Bandol', 'region_2': None, 'variety': 'Provence red blend', 'winery': 'Domaine de la Bégude'}, {'id': 5, 'country': 'Spain', 'points': 95, 'price': 73.0, 'province': 'Northern Spain', 'region_1': 'Toro', 'region_2': None, 'variety': 'Tinta de Toro', 'winery': 'Numanthia'}, {'id': 6, 'country': 'Spain', 'points': 95, 'price': 65.0, 'province': 'Northern Spain', 'region_1': 'Toro', 'region_2': None, 'variety': 'Tinta de Toro', 'winery': 'Maurodos'}, {'id': 7, 'country': 'Spain', 'points': 95, 'price': 110.0, 'province': 'Northern Spain', 'region_1': 'Toro', 'region_2': None, 'variety': 'Tinta de Toro', 'winery': 'Bodega Carmen Rodríguez'}  ... displaying 10 of 150930 total bound parameter sets ...  {'id': 150928, 'country': 'France', 'points': 90, 'price': 52.0, 'province': 'Champagne', 'region_1': 'Champagne', 'region_2': None, 'variety': 'Champagne Blend', 'winery': 'Gosset'}, {'id': 150929, 'country': 'Italy', 'points': 90, 'price': 15.0, 'province': 'Northeastern Italy', 'region_1': 'Alto Adige', 'region_2': None, 'variety': 'Pinot Grigio', 'winery': 'Alois Lageder'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [12]:
wine_review_v2.to_sql(name='wine_reviews_v2', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "wine_reviews_v2_pkey"
DETAIL:  Key (id)=(0) already exists.

[SQL: INSERT INTO wine_reviews_v2 (id, country, points, price, province, region_1, region_2, title, variety, winery) VALUES (%(id)s, %(country)s, %(points)s, %(price)s, %(province)s, %(region_1)s, %(region_2)s, %(title)s, %(variety)s, %(winery)s)]
[parameters: ({'id': 0, 'country': 'Italy', 'points': 87, 'price': None, 'province': 'Sicily & Sardinia', 'region_1': 'Etna', 'region_2': None, 'title': 'Nicosia 2013 Vulkà Bianco  (Etna)', 'variety': 'White Blend', 'winery': 'Nicosia'}, {'id': 1, 'country': 'Portugal', 'points': 87, 'price': 15.0, 'province': 'Douro', 'region_1': None, 'region_2': None, 'title': 'Quinta dos Avidagos 2011 Avidagos Red (Douro)', 'variety': 'Portuguese Red', 'winery': 'Quinta dos Avidagos'}, {'id': 2, 'country': 'US', 'points': 87, 'price': 14.0, 'province': 'Oregon', 'region_1': 'Willamette Valley', 'region_2': 'Willamette Valley', 'title': 'Rainstorm 2013 Pinot Gris (Willamette Valley)', 'variety': 'Pinot Gris', 'winery': 'Rainstorm'}, {'id': 3, 'country': 'US', 'points': 87, 'price': 13.0, 'province': 'Michigan', 'region_1': 'Lake Michigan Shore', 'region_2': None, 'title': 'St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore)', 'variety': 'Riesling', 'winery': 'St. Julian'}, {'id': 4, 'country': 'US', 'points': 87, 'price': 65.0, 'province': 'Oregon', 'region_1': 'Willamette Valley', 'region_2': 'Willamette Valley', 'title': "Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley)", 'variety': 'Pinot Noir', 'winery': 'Sweet Cheeks'}, {'id': 5, 'country': 'Spain', 'points': 87, 'price': 15.0, 'province': 'Northern Spain', 'region_1': 'Navarra', 'region_2': None, 'title': 'Tandem 2011 Ars In Vitro Tempranillo-Merlot (Navarra)', 'variety': 'Tempranillo-Merlot', 'winery': 'Tandem'}, {'id': 6, 'country': 'Italy', 'points': 87, 'price': 16.0, 'province': 'Sicily & Sardinia', 'region_1': 'Vittoria', 'region_2': None, 'title': 'Terre di Giurfo 2013 Belsito Frappato (Vittoria)', 'variety': 'Frappato', 'winery': 'Terre di Giurfo'}, {'id': 7, 'country': 'France', 'points': 87, 'price': 24.0, 'province': 'Alsace', 'region_1': 'Alsace', 'region_2': None, 'title': 'Trimbach 2012 Gewurztraminer (Alsace)', 'variety': 'Gewürztraminer', 'winery': 'Trimbach'}  ... displaying 10 of 129971 total bound parameter sets ...  {'id': 129969, 'country': 'France', 'points': 90, 'price': 32.0, 'province': 'Alsace', 'region_1': 'Alsace', 'region_2': None, 'title': 'Domaine Marcel Deiss 2012 Pinot Gris (Alsace)', 'variety': 'Pinot Gris', 'winery': 'Domaine Marcel Deiss'}, {'id': 129970, 'country': 'France', 'points': 90, 'price': 21.0, 'province': 'Alsace', 'region_1': 'Alsace', 'region_2': None, 'title': 'Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace)', 'variety': 'Gewürztraminer', 'winery': 'Domaine Schoffit'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [13]:
pd.read_sql_query('select * from wine_reviews', con=engine).head()

,id,country,points,price,province,region_1,region_2,variety,winery
0,0,US,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,96,110.0,Northern Spain,Toro,None,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,95,66.0,Provence,Bandol,None,Provence red blend,Domaine de la Bégude

In [14]:
pd.read_sql_query('select * from wine_reviews_v2', con=engine).head()

,id,country,points,price,province,region_1,region_2,title,variety,winery
0,0,Italy,87,NaN,Sicily & Sardinia,Etna,None,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,87,15.0,Douro,None,None,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,87,13.0,Michigan,Lake Michigan Shore,None,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [15]:
#  Create a new df for "US" with the columns.
wine_review_US = wine_review_v2.loc[wine_review_v2['country'] == 'US']
wine_review_US.head()

,id,country,points,price,province,region_1,region_2,title,variety,winery
2,2,US,87,14.0,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,87,13.0,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,87,65.0,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
10,10,US,87,19.0,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
12,12,US,87,34.0,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini

In [16]:
wine_review_France = wine_review_v2.loc[wine_review_v2['country'] == 'France']
wine_review_France.head()

,id,country,points,price,province,region_1,region_2,title,variety,winery
7,7,France,87,24.0,Alsace,Alsace,NaN,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,9,France,87,27.0,Alsace,Alsace,NaN,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,11,France,87,30.0,Alsace,Alsace,NaN,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
30,30,France,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone
42,42,France,86,9.0,Beaujolais,Beaujolais,NaN,Henry Fessy 2012 Nouveau (Beaujolais),Gamay,Henry Fessy

In [17]:
wine_review_Italy = wine_review_v2.loc[wine_review_v2['country'] == 'Italy']
wine_review_Italy.head()

,id,country,points,price,province,region_1,region_2,title,variety,winery
0,0,Italy,87,NaN,Sicily & Sardinia,Etna,NaN,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,6,Italy,87,16.0,Sicily & Sardinia,Vittoria,NaN,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,13,Italy,87,NaN,Sicily & Sardinia,Etna,NaN,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,22,Italy,87,19.0,Sicily & Sardinia,Sicilia,NaN,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,24,Italy,87,35.0,Sicily & Sardinia,Sicilia,NaN,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì